In [33]:
# Import necessary libraries
import pandas as pd  # for data manipulation and analysis
import numpy as np  # for numerical operations
import seaborn as sns  # for data visualization
import matplotlib.pyplot as plt  # for plotting

In [36]:
# Configure pandas to display all columns and rows in the DataFrame without truncation
pd.pandas.set_option('display.max_columns', None)  # No limit on the number of columns displayed
pd.pandas.set_option('display.max_rows', None)  # No limit on the number of rows displayed

In [3]:
# Load the dataset from an Excel file into a pandas DataFrame

df = pd.read_excel("C:/Users/Omkar/Downloads/Online Retail Data Set.xlsx")

# Preview the first 5 rows of the dataset to understand its structure

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [14]:
# Check the shape of the dataset (number of rows and columns)

df.shape

(541909, 8)

In [ ]:
# There are total 541909 rows and 8 columns

In [4]:
# Get a summary of the dataset including the data types and non-null counts

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
# The dataset contains 541,909 rows and 8 columns with data types: "InvoiceNo" (object), "StockCode" (object), "Description" (object), "Quantity" (int64), "InvoiceDate" (datetime64), "UnitPrice" (float64), "CustomerID" (float64), and "Country" (object), with missing values in "Description" and "CustomerID".

In [5]:
# Generate summary statistics (mean, std, min, max, etc.) for the numerical columns

df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [ ]:
# Negative and extreme values in the Quantity and UnitPrice columns suggest potential data quality issues (e.g., returns or incorrect entries).
# The CustomerID column has missing data, which may require cleaning or imputation.

# Data Cleaning

In [6]:
# Step 1: Check for missing data in each column

df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [15]:
(df.isnull().sum()/df.shape[0]) * 100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

In [ ]:
# There are .26% in Description and 25% in CustomerID has null values

In [ ]:
# we can't impute null values in Description and CustomerID column cause it may mislead the analysis. So I am thinking of dropping null values would be best.

In [19]:
new_df = df

In [20]:
# Step 2: Remove rows with missing values in the 'Description' and 'CustomerID' columns

filtered_df = new_df.dropna(subset = ["Description"])

In [22]:
filtered_df = filtered_df.dropna(subset = ["CustomerID"])

In [23]:
# Step 3: Verify that there are no missing values in the filtered data

filtered_df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [27]:
# Step 4: Check for duplicate rows in the dataset

filtered_df.duplicated().sum()

5225

In [28]:
(filtered_df.duplicated().sum()/filtered_df.shape[0]) * 100

1.284323388942283

In [ ]:
# There are around 1.30% duplicates in dataset. 
# This value is negligible so we can remove it.

In [29]:
filtered_df = filtered_df.drop_duplicates(inplace = False)

In [30]:
# Step 5: Verify that no duplicates remain

filtered_df.duplicated().sum()

0

In [40]:
# Step 6: Check the distribution of values in the 'Country' column

filtered_df["Country"].value_counts()

Country
United Kingdom          356728
Germany                   9480
France                    8475
EIRE                      7475
Spain                     2528
Netherlands               2371
Belgium                   2069
Switzerland               1877
Portugal                  1471
Australia                 1258
Norway                    1086
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     247
Unspecified                241
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Name: count, dtype: int64

In [53]:
# Step 7: Check the percentage of rows where 'Quantity' is less than or equal to 0

(filtered_df[filtered_df["Quantity"] <= 0].count()/filtered_df.shape[0]) * 100

InvoiceNo      2.209141
StockCode      2.209141
Description    2.209141
Quantity       2.209141
InvoiceDate    2.209141
UnitPrice      2.209141
CustomerID     2.209141
Country        2.209141
dtype: float64

In [ ]:
# The result indicates that approximately 2.21% of the rows in the filtered_df DataFrame have a Quantity value less than or equal to 0, as shown by the count for each column being 2.21% of the total number of rows.

In [56]:
# Step 8: Remove rows with non-positive 'Quantity' values (e.g., returns, cancellations)

filtered_df = filtered_df[filtered_df["Quantity"] >=0]

In [63]:
(filtered_df[filtered_df["Quantity"] <= 0].count()/filtered_df.shape[0]) * 100

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [57]:
# Step 9: Check for negative values in the 'UnitPrice' column

filtered_df[filtered_df["UnitPrice"] < 0].count()/filtered_df.shape[0]

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [ ]:
# No negative values present in unitprice column

In [61]:
# Step 10: Check the shape of the cleaned dataset (after data cleaning steps)

filtered_df.shape

(392732, 8)

In [62]:
# Step 11: Generate summary statistics for the cleaned dataset

filtered_df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,392732.000000,392732,392732.000000,392732.000000
mean,13.153718,2011-07-10 19:15:24.576301568,3.125596,15287.734822
min,1.000000,2010-12-01 08:26:00,0.000000,12346.000000
25%,2.000000,2011-04-07 11:12:00,1.250000,13955.000000
50%,6.000000,2011-07-31 12:02:00,1.950000,15150.000000
75%,12.000000,2011-10-20 12:53:00,3.750000,16791.000000
max,80995.000000,2011-12-09 12:50:00,8142.750000,18287.000000
std,181.588420,NaN,22.240725,1713.567773

In [ ]:
# Quantity values are now all positive, with a typical quantity range of 1 to 12, though outliers like 80,995 still exist.
# UnitPrice includes a minimum value of 0, which may indicate potential errors or special cases that require review.
# The CustomerID column no longer has missing values, which is important for customer-level analysis.

In [64]:
# Step 12: Save the cleaned data to a new Excel file for further use

filtered_df.to_excel('C:/Users/Omkar/Downloads/cleaned_data.xlsx', index=False)